<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all" selected>모두보기</option>
        <option value="active">안끝남</option>
        <option value="completed">끝남</option>
    </select>
    <input type="text" v-model="newTodo" @keyup.enter="addTodo()">
    <button @click="addTodo()">add</button>
    <br>
    <button @click="clearCompleted()">Clear Completed</button>
    <ol v-if="todos.length">
        <li v-for="todo in groupTodosByStatus" :class="todo.completed ? 'completed' : '' " :key="todo.id">
            <span>{{ todo.content }}</span>
            <input type="checkbox" v-model="todo.completed">
        </li>
<!--        <li v-else @click="check(todo)"> [완료!]</li>-->
    </ol>

</div>
<!--<script src="./vue.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
<script>
    const STORAGE_KEY = 'my-todos';
    const todosApp = {
        storageKey: 'my-todos',
        fetch: function () {
            return JSON.parse(localStorage.getItem(this.storageKey)) || [];
        },
        save (todos) {
            localStorage.setItem(this.storageKey, JSON.stringify(todos));
        }
    };

    const app = new Vue({
        el: '#app',
        data: {
            todos: todosApp.fetch(),
            newTodo: '',
            status: 'all'
        },
        methods: {
            check: function (todo = {}) {
                todo.completed = !todo.completed;
            },
            addTodo() {
                if (this.newTodo) {
                    this.todos.push({
                        id: Date.now(),
                        content: this.newTodo,
                        completed: false
                    });
                    this.newTodo = '';
                }
            },
            clearCompleted() {
                this.todos = this.todos.filter(todo => !todo.completed);
            },

        },
        computed: {
            groupTodosByStatus() {
                if (this.status === 'active') {
                    return this.todos.filter(todo => !todo.completed);
                } else if (this.status === 'completed') {
                    return this.todos.filter(todo => todo.completed);
                } else {
                    return this.todos;
                }
            },
        },
        watch: {
            todos: {
                deep: true,
                handler: function (todos) {
                    todosApp.save(todos)
                }
            },
        }
    })
</script>
</body>
</html>