<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
<div id="app">
    <select v-model="status">
        <option value="all" selected>모두보기</option>
        <option value="active">안끝남</option>
        <option value="completed">끝남</option>
    </select>
    <input type="text" v-model="newTodo" @keyup.enter="addTodo()">
    <button @click="addTodo()">add</button>
    <br>
    <button @click="clearCompleted()">Clear Completed</button>
    <ol v-if="todos.length">
        <li v-for="todo in groupTodosByStatus()" :class="todo.completed ? 'completed' : '' " :key="todo.id">
            <span>{{ todo.content }}</span>
            <input type="checkbox" v-model="todo.completed">
        </li>
        <li v-else @click="check(todo)"> [완료!]</li>
    </ol>

</div>
<script src="./vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            todos: [
                {
                    id: 1,
                    content: '저녁 메뉴 고민하기',
                    completed: true
                },
                {
                    id: 2,
                    content: '시험 공부 하기',
                    completed: false
                },
                {
                    id: 3,
                    content: '집 살 걱정하기',
                    completed: false
                },
                {
                    id: 4,
                    content: '행복하기',
                    completed: false
                },
            ],
            newTodo: '',
            status: 'all',
            ID : 5,
        },
        methods: {
            check: function (todo = {}) {
                todo.completed = !todo.completed;
            },
            addTodo() {
                if (this.newTodo) {
                    this.todos.push({
                        id: this.ID++,
                        content: this.newTodo,
                        completed: false
                    });

                    this.newTodo = '';
                }
            },
            clearCompleted() {
                this.todos = this.todos.filter(todo => !todo.completed);
            },
            groupTodosByStatus() {
                if (this.status === 'active') {
                        return this.todos.filter(todo => !todo.completed);
                } else if (this.status === 'completed') {
                    return this.todos.filter(todo => todo.completed);
                } else {
                    return this.todos;
                }
            },

        },
        computed: {

        }
    })
</script>
</body>
</html>