<div class="card my-3">
    {% if post.image_set.all %}
        <div id="post{{ post.id }}" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.image_set.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ image.file }}">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#post{{ post.id }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#post{{ post.id }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
        <img src="https://picsum.photos/600" alt="random-image" class="card-img-top"/>
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text">writer : {{ user.username }}</p>
        {% if post.writer_id == user.id %}
            <a href="{% url 'posts:post_update' post.id %}" class="btn btn-secondary">Edit</a>
        {% endif %}
    </div>

    <div class="card-body">
        <p class="card-text">
            {% for comment in post.comment_set.all %}
                <strong>{{ comment.writer.username }}</strong> : {{ comment.content }}<br>
            {% empty %}
                No Comments
            {% endfor %}
        </p>
    </div>
<div class="card-footer">
    <form action="{% url 'posts:comment_create' post.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.content }}
        <input type="submit" class="btn btn-secondary" value="submit">
    </form>
</div>
</div>