<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insta</title>
    {% include '_cdns.html' %}
    <style>
        .activate {
            color: dodgerblue;
        }
        .deactivate {
            color: steelblue;
        }
        .strong-like {
            font-weight: bold;
        }
    </style>
</head>
<body>
{% include '_nav.html' %}
{% include '_messages.html' %}
<div class="container">
    {% block body %}
    {% endblock %}
</div>
{% include '_scripts.html' %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function getCookies(key='') {
        const cookieSet = {};
        document.cookie.split('; ').forEach(cookieString => {
            const kv = cookieString.split('=');
            cookieSet[kv[0]] = kv[1];
        });
        if (!cookieSet[key]) {
            key = '';
        }
        return key ? cookieSet[key] : cookieSet;
    }
    const likeButtons = document.querySelectorAll('.like-button');
    likeButtons.forEach(button => {
        button.addEventListener('click', e => {
            const postId = button.dataset.id;
            const URL = `/insta/${postId}/like/`;

            // request 에 cookie 중에 csrftoken 이라는 key 값을 가진 친구를 같이 보내라!
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            // 이 request 는 XHR 방식으로 보내는 것입니다.
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            axios.post(URL, {})
                .then(response => {
                    const likeCountArea = document.querySelector(`#like-count-${postId}`);
                    likeCountArea.innerHTML = response.data.likeCount;
                    // if (button.innerHTML === 'Dislike') {
                    //     button.innerHTML = 'Like';
                    // } else {
                     //    button.innerHTML = 'Dislike';
                    // }
                    console.log(e.target);
                    if (response.data.is_active) {
                        e.target.classList.add('activate');
                        e.target.classList.remove('deactivate');
                        likeCountArea.classList.add('strong-like');
                    } else {
                        e.target.classList.remove('activate');
                        e.target.classList.add('deactivate');
                        likeCountArea.classList.remove('strong-like');
                    }
                })
        })
    })
</script>
</body>
</html>